html, body {
  background-color: $gray-darkest;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $whitesmoke;

  &:hover {
    color: $whitesmoke;
  }

  &:visited {
    color: $whitesmoke;
  }
}

main {
  margin: 50px 200px 0;

  h3 {
    margin-bottom: 50px;
  }
}
