h1, h2, h3, h4 {
  color: $whitesmoke;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: SourceCodePro, monospace;
  font-size: 42px;
  letter-spacing: 3px;
}

h2, h3, h4 {
  font-family: OpenSansLight, sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p, span {
  color: $whitesmoke;
  font-family: OpenSans, sans-serif;
}

code {
  * {
    font-family: SourceCodePro, monospace;
  }
}
